/**
 Importation des polices
**/


/////

// Définition des polices
$font-primary: 'Raleway';
$font-secondary: 'Lobster';

$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-big : 20px;

// Définition des couleurs
$color-back-primary : #808F28;
$color-back-secondary : #D6D2C5;

$color-front-wood: #A56036;
$color-front-leaf: #94A520;
$color-front-pot: #f2be8b;

$color-text-primary: #191d1c;
$color-text-secondary: #ffffff;

$space-small: 8px;
$space-normal: 20px;
$space-big: 40px;

$shadow-normal: 0px 0px 10px 0px rgba(0,0,0,0.3);
$shadow-big: 0px 0px 50px 0px rgba(0,0,0,0.05);
