/**
 Importation des polices
**/
@import "./../static/fonts/Raleway-Regular";
@import "./../static/fonts/LobsterTwo-Regular";


/////

// Définition des polices
$font-primary: 'Raleway';
$font-secondary: 'Lobster';

$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-big : 20px;

// Définition des couleurs
$color-back-primary : #173e43;
$color-back-secondary : #FFF;

$color-front-wood: #b56969;
$color-front-leaf: #3fb0ac;
$color-front-pot: #f2be8b;

$color-text-primary: #191d1c;
$color-text-secondary: #ffffff;

$space-small: 8px;
$space-normal: 20px;
$space-big: 40px;

$shadow-normal: 0px 0px 10px 0px rgba(0,0,0,0.3);
$shadow-big: 0px 0px 50px 0px rgba(0,0,0,0.05);
