@charset "UTF-8";
/**
 Importation des polices
**/
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: "Lobster";
  src: url("/static/fonts/LobsterTwo-Regular.ttf"); }

/**
 Importation des polices
**/
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: "Lobster";
  src: url("/static/fonts/LobsterTwo-Regular.ttf"); }

.invisible {
  display: none !important; }

.content {
  min-width: 320px;
  max-width: 900px;
  width: 80%;
  margin: auto; }

@keyframes loading {
  0% {
    left: -300px;
    background-color: #f2be8b; }
  50% {
    left: 150%;
    background-color: #f2be8b; }
  100% {
    left: -300px;
    background-color: #f2be8b; } }

div#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5); }
  div#loading:before {
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f2be8b;
    animation: loading 2s infinite; }

div#popup {
  box-sizing: border-box;
  position: fixed;
  min-width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #173e43;
  border-radius: 2px;
  z-index: 1;
  border: 1px solid #f2be8b;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  padding-top: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90%; }
  div#popup::after {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    content: attr(data-name);
    font-family: "Raleway";
    padding: 8px;
    font-size: 20px;
    background-color: #f2be8b;
    color: #173e43; }
  div#popup div.close {
    content: "🞩";
    display: inline-block;
    position: absolute;
    z-index: 2;
    display: inline-block;
    top: 0;
    right: 0;
    font-size: 20px;
    text-align: right;
    padding-top: 8px;
    padding-right: 8px;
    color: #173e43;
    cursor: pointer; }

h1 {
  font-size: 20px;
  font-family: "Lobster";
  margin: 0;
  margin-bottom: 8px; }

h2 {
  font-size: 20px;
  margin-bottom: 20px; }

section {
  border-bottom: 2px dotted #f2be8b;
  margin-bottom: 20px; }

img.profile {
  border-radius: 100%;
  width: 75px;
  height: 75px; }

.price {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #f2be8b;
  color: #173e43;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
  margin-left: 8px; }

p {
  font-family: "Raleway"; }

input[type=button], button, input[type=submit] {
  background-color: #3fb0ac;
  color: #ffffff;
  border-radius: 2px;
  border: 2px solid #59c4c0;
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s ease; }
  input[type=button]:hover, button:hover, input[type=submit]:hover {
    transform: scale(1.05, 1.05); }

app-chapteritem {
  display: inline-block;
  min-width: 230px;
  border: 1px dotted #3fb0ac;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
  background-color: #FFF;
  margin-bottom: 20px; }
  app-chapteritem > div {
    overflow: hidden; }
    app-chapteritem > div h1 {
      text-align: left;
      padding: 8px;
      background-color: #173e43;
      color: #ffffff;
      border-bottom: 1px solid rgba(63, 176, 172, 0.3); }
    app-chapteritem > div > div {
      padding: 8px; }
  app-chapteritem p {
    margin-top: 0;
    font-family: "Raleway";
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap; }
  app-chapteritem input[type=submit] {
    display: block;
    margin: auto; }

app-chapters {
  display: block;
  text-align: center; }

app-chapter, div[data-is=app-chapter] {
  position: relative;
  z-index: 1; }
  app-chapter > div, div[data-is=app-chapter] > div {
    margin-top: -41px; }
  app-chapter p, div[data-is=app-chapter] p {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: justify; }
  app-chapter div.current, div[data-is=app-chapter] div.current {
    width: 100%;
    height: 100px;
    background-color: #173e43; }
    app-chapter div.current > div, div[data-is=app-chapter] div.current > div {
      display: inline-block;
      width: 100%;
      max-width: 32%;
      margin: 0;
      vertical-align: top;
      height: 100%;
      text-align: center; }
      app-chapter div.current > div h1, div[data-is=app-chapter] div.current > div h1 {
        padding-top: 8px;
        color: #ffffff; }
      app-chapter div.current > div span, div[data-is=app-chapter] div.current > div span {
        color: #ffffff; }
      app-chapter div.current > div input[type=button], div[data-is=app-chapter] div.current > div input[type=button] {
        display: block;
        width: 100%;
        height: 100%;
        border: 0; }
      app-chapter div.current > div:first-of-type, app-chapter div.current > div:last-of-type, div[data-is=app-chapter] div.current > div:first-of-type, div[data-is=app-chapter] div.current > div:last-of-type {
        background-color: #3fb0ac; }
      app-chapter div.current > div:last-of-type, div[data-is=app-chapter] div.current > div:last-of-type {
        position: absolute;
        height: 100px;
        right: 0; }
  app-chapter div.current + div, div[data-is=app-chapter] div.current + div {
    padding: 20px;
    border-bottom: 1px dotted #3fb0ac;
    margin-bottom: 20px;
    background-color: #FFF; }
  app-chapter div.next, div[data-is=app-chapter] div.next {
    width: 100%;
    text-align: center; }
    app-chapter div.next > h1, div[data-is=app-chapter] div.next > h1 {
      margin-bottom: 20px;
      color: #b56969; }
    app-chapter div.next app-chapteritem, div[data-is=app-chapter] div.next app-chapteritem {
      max-width: 90%;
      text-align: center; }

app-chaptereditform form > div {
  margin-bottom: 20px; }
  app-chaptereditform form > div input[type=text], app-chaptereditform form > div textarea {
    width: 100%; }

app-chaptereditform label {
  display: block;
  margin-bottom: 8px; }

app-chaptereditform textarea {
  height: 200px; }

app-chaptereditform input[type=submit], app-chaptereditform input[type=button] {
  width: 100%; }

app-header {
  position: relative;
  margin: 0;
  padding: 8px;
  display: block;
  height: 60px;
  background-color: #FFF;
  border-bottom: 1px dotted #b56969;
  margin-bottom: 40px; }
  app-header h1 {
    color: #b56969;
    margin-bottom: 0;
    height: 50px;
    line-height: 50px;
    cursor: pointer; }
  app-header nav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3fb0ac;
    height: 100%;
    vertical-align: middle;
    transition: all 0.2s ease; }
    app-header nav input[type=button] {
      border: 0;
      padding: 0;
      width: 70px;
      font-family: "Lobster";
      font-size: 40px; }
      app-header nav input[type=button]:hover {
        transform: none; }
    app-header nav:hover {
      transform: scale(1.05, 1.05); }

* {
  box-sizing: border-box;
  font-size: 16px;
  color: #191d1c;
  font-family: "Raleway";
  z-index: 0; }

html, body {
  margin: 0; }

body {
  background-image: url("./../wallpaper.jpeg");
  background-size: cover; }

div.vertical-center {
  display: table; }
  div.vertical-center > * {
    display: table-cell;
    vertical-align: middle; }
